# Ignore prototypes, docs and .github
/.github/**
/documents/**
/prototypes/**
/node_modules/**
/build/**
/.*/**

# Ignore unnecessary files inside allowed directories
**/*.log
**/.DS_Store
**/Thumbs.db